.wrapper {
    text-decoration: none;
    border: solid;
    padding: 8px;
    margin: 8vh 4vw 2vh 4vw;
    border-radius: 4px;
    color: rgb(95, 95, 95);
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.3s;
}

.wrapper:hover {
    color: rgb(1, 1, 1);
}